* { margin: 0; padding: 0; outline:0; }

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #000;
    background: #e9e9e9 url('images/bg-bottom.gif') repeat-x 0 bottom;
    padding-top:38px;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('font-face/myriadpro-regular-webfont.eot?') format('eot'),
         url('font-face/myriadpro-regular-webfont.woff') format('woff'),
         url('font-face/myriadpro-regular-webfont.ttf') format('truetype'),
         url('font-face/myriadpro-regular-webfont.svg#webfontHCWCmWCv') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2 { font-size:21px; color:#202020; font-weight: normal; font-style:italic; letter-spacing:-1px; }
h3 { font-size:21px; color:#fff; font-weight: normal; }
h4 { font-size:12px; color:#02c8f9; }

a { color: #0252aa; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width:875px; margin:0 auto; background:#fff ; border:1px solid #e0e0e0; padding:17px 15px;  }

h1#logo { float:left; display:inline; padding-right:3px; }
h1#logo a { width:247px; height:317px; float:left; background:url('images/logo.gif') no-repeat 0 0; }

#navigation { padding-top:14px; padding-bottom:3px; height:41px; align:center; }
#navigation ul { list-style:none; }
#navigation ul li { float:left; display:inline; padding-right:3px; }
#navigation ul li a { color:#7d7c7c; float:left; display:inline; padding:0 30px 12px 30px; border-bottom:9px solid #a6a6a6; font-size:15px;  font-family: 'MyriadProRegular'; }
#navigation ul li.last a { padding:0 32px 12px 31px; }
#navigation ul li a.active,
#navigation ul li a:hover { border-color:#0394d7 ; text-decoration:none; color:#0395d7; }

#main {  }
#main .attention { border-top:5px solid #d0d0d0; background:#e9e9e9; padding-bottom:2px; width:872px;  }
#main .attention p { text-align:right; color:#ee3a43; font-size:14px; font-weight: bold; padding-right:32px; }

#main #sidebar { width:247px; float:left; background:#f2f2f2; }
#main #sidebar .sidebar-box { }
#main #sidebar .sidebar-box .title { background:#03a4dd; font-family: 'MyriadProRegular'; padding:5px 15px 5px; margin-bottom:19px; }
#main #sidebar .sidebar-box .gray { background:#979797; }
#main #sidebar .sidebar-box .box-entry { padding-left:30px; }
#main #sidebar .sidebar-box .box-entry ul { list-style:none; width:176px; padding-bottom:7px; }
#main #sidebar .sidebar-box .box-entry ul.side-nav { padding-bottom:10px; }
#main #sidebar .sidebar-box .box-entry ul.side-nav li { display:block; border-bottom:1px solid #ddd; padding:8px 0; }
#main #sidebar .sidebar-box .box-entry ul.side-nav li.last { border:0; }
#main #sidebar .sidebar-box .box-entry ul.side-nav li a {  padding-left:28px; background:url('images/side-nav-list.gif') no-repeat 3px 2px; color:#686868; }
#main #sidebar .sidebar-box .box-entry ul.side-nav li a.has-dd { background:url('images/list-blue.gif') no-repeat 3px 2px; color:#0395d7; }
#main #sidebar .sidebar-box .box-entry ul.side-nav ul.dd{ display:none; padding-left:17px; width:156px; padding-top:10px; }
#main #sidebar .sidebar-box .box-entry ul.side-nav ul.dd li ul.dd { width:136px; }
#main #sidebar .sidebar-box .box-entry ul.side-nav ul.dd li ul.dd li { padding-bottom:3px; }
#main #sidebar .sidebar-box .box-entry ul.side-nav ul.dd li.last { border:0; }
#main #sidebar .sidebar-box .box-entry ul.side-nav li a.down-arrow { background:url('images/down-arrow.gif') no-repeat  3px 2px; }

#main #sidebar .sidebar-box ul.news-entry { padding-top:5px; }
#main #sidebar .sidebar-box ul.news-entry a {  color:#04abe0; font-weight: bold;  }
#main #sidebar .sidebar-box ul.news-entry p { line-height:18px; color:#686868;  }
#main #sidebar .sidebar-box ul.news-entry li { border-bottom:1px solid #dddddd; padding-bottom:9px; margin-bottom:30px; }
#main #sidebar .sidebar-box ul.news-entry li p { position: relative;  }
#main #sidebar .sidebar-box ul.news-entry li a.more {  margin-left:5px; }
#main #sidebar .sidebar-box ul.news-entry li.last { margin-bottom:5px;  }
#main #sidebar .sidebar-box p.last { text-align:right; padding-bottom:25px; padding-right:16px;  }
#main #sidebar .sidebar-box p.last a { color:#04abe0; font-weight: bold; }

#main #sidebar .newsletter { background:#0397d8; }
#main #sidebar .newsletter { height:100%; }
#main #sidebar .newsletter form { padding:23px 0 31px 29px; height:100%; float:left; }
#main #sidebar .newsletter form label { display:block; font-size:21px; color:#fcfbfb; text-transform:uppercase; font-weight: bold; font-style:italic; padding-bottom:4px; }
#main #sidebar .newsletter form input { float:left; display:inline; } 
#main #sidebar .newsletter form input.field { font-size:12px; color:#02c8f9; font-family:Arial,Verdana,Sans-Serif; padding:4px 0 4px 7px; border:0; width:145px; } 
#main #sidebar .newsletter form input.submit { width:34px; height:23px; background:url('images/go-button.gif') no-repeat 0 0; border:0; cursor:pointer; } 

#main #content { width:574px; float:right; padding-top:29px; padding-right:24px; }
#main #content .boxes { padding-bottom:28px;  }
#main #content .boxes .box { width:270px; }
#main #content .boxes .box .box-cnt { min-height:270px; }
#main #content .boxes .box img { padding-bottom:21px; }
#main #content .boxes .box p { font-size:12px; color:#686868; line-height:18px; }
#main #content .boxes .box p.plus { width:82px; height:17px; margin-top:21px; margin-left:3px; }
#main #content .boxes .box p.plus a { width:82px; height:17px; display:block; color:#fff; font-size:10px; letter-spacing:1px; padding-left:12px;  background:url('images/blue-button.gif') no-repeat 0 0; }
#main #content .boxes .box p.plus a:hover { text-decoration:none; }

#main #content .boxes .box h2 { padding-bottom:12px; }
#main #content .boxes h2 { padding-bottom:12px; }
#main #content .boxes p { font-size:12px; color:#686868; line-height:18px; }
#main #content .boxes h4 { font-size:14px; color:#02c8f9; }

#main #content .post { border-top:1px solid #ddd; padding:25px 0 16px 0; }
#main #content .post h2 { padding-bottom:10px; }
#main #content .post p { color:#686868; line-height:17px;  }
#main #content .post p a { font-weight: bold; color:#02c8f9; }

#footer {  }
#footer .shell { background:none; border:0; }
#footer .shell p, #footer .shell p a { color:#6b6b6b; font-size:11px; }
#footer .shell p a { text-decoration:underline; padding-left:13px; }
#footer .shell p a:hover { text-decoration:none; }